openapi: 3.2.0
info:
  title: YouTube Reporting Report Types API
  description: The YouTube Reporting API enables scheduling reporting jobs and downloading bulk YouTube Analytics data as CSV datasets. Reports are generated daily and cover 24-hour periods, accessible for 30 to 60 days depending on the report type.
  version: v1
  contact:
    name: YouTube API Support
    url: https://developers.google.com/youtube/reporting
  termsOfService: https://developers.google.com/youtube/terms/api-services-terms-of-service
  x-generated-from: documentation
  x-last-validated: '2026-04-18'
servers:
- url: https://youtubereporting.googleapis.com/v1
  description: YouTube Reporting API v1 base server
security:
- oauth2:
  - https://www.googleapis.com/auth/yt-analytics.readonly
tags:
- name: ReportTypes
  description: Operations for listing available report types
paths:
  /reportTypes:
    get:
      operationId: youtubeReporting.reportTypes.list
      summary: Youtube List Report Types
      description: Lists report types that the channel or content owner can retrieve. Each report type defines the dimensions and metrics available in the generated reports.
      tags:
      - ReportTypes
      parameters:
      - name: onBehalfOfContentOwner
        in: query
        description: The content owner's external ID on which behalf the user is acting on.
        schema:
          type: string
        example: example_value
      - name: includeSystemManaged
        in: query
        description: If set to true, also returns system-managed report types.
        schema:
          type: boolean
        example: true
      - name: pageToken
        in: query
        description: A token identifying a page of results to return.
        schema:
          type: string
        example: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9
      - name: pageSize
        in: query
        description: The maximum number of items to return in the response.
        schema:
          type: integer
        example: 25
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListReportTypesResponse'
              examples:
                YoutubereportingReporttypesList200Example:
                  summary: Default youtubeReporting.reportTypes.list 200 response
                  x-microcks-default: true
                  value:
                    reportTypes:
                    - id: abc123def456
                      name: Example Title
                      systemManaged: true
                      deprecateTime: '2026-01-15T10:30:00Z'
                    nextPageToken: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ListReportTypesResponse:
      type: object
      properties:
        reportTypes:
          type: array
          items:
            $ref: '#/components/schemas/ReportType'
          description: The list of report types.
          example: []
        nextPageToken:
          type: string
          description: A token to retrieve the next page of results.
          example: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9
    ReportType:
      type: object
      properties:
        id:
          type: string
          description: The ID of the report type.
          example: abc123def456
        name:
          type: string
          description: The name of the report type.
          example: Example Title
        systemManaged:
          type: boolean
          description: Whether the report type is system-managed.
          example: true
        deprecateTime:
          type: string
          format: date-time
          description: The date and time when the report type was deprecated.
          example: '2026-01-15T10:30:00Z'
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/yt-analytics.readonly: View YouTube Analytics reports for your YouTube content
            https://www.googleapis.com/auth/yt-analytics-monetary.readonly: View monetary and non-monetary YouTube Analytics reports
