openapi: 3.2.0
info:
  title: Youtube Videos API
  x-refined-note:
  - x-logo differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Videos across 2 of this provider''s published API definitions: youtube-data-api-openapi.yml, youtube-data-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://www.googleapis.com/youtube/v3
  description: YouTube Data API v3 base server
tags:
- name: Videos
  description: Operations related to YouTube video resources
paths:
  /videos:
    get:
      operationId: youtube.videos.list
      summary: Youtube List Videos
      description: Returns a list of videos that match the API request parameters. Requires the part parameter to specify the video resource properties to include in the response.
      tags:
      - Videos
      parameters:
      - $ref: '#/components/parameters/part'
      - name: id
        in: query
        description: Comma-separated list of YouTube video IDs for the resources being retrieved.
        schema:
          type: string
        example: abc123def456
      - name: chart
        in: query
        description: Identifies the chart that the API returns chart data for. Acceptable values are mostPopular and videoCategoryId.
        schema:
          type: string
          enum:
          - mostPopular
        example: mostPopular
      - name: myRating
        in: query
        description: Set this parameter to like or dislike to instruct the API to return only videos liked or disliked by the authenticated user.
        schema:
          type: string
          enum:
          - like
          - dislike
        example: like
      - $ref: '#/components/parameters/maxResults'
      - $ref: '#/components/parameters/pageToken'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      responses:
        '200':
          description: Successful response containing a list of video resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoListResponse'
              examples:
                YoutubeVideosList200Example:
                  summary: Default youtube.videos.list 200 response
                  x-microcks-default: true
                  value:
                    kind: youtube#video
                    etag: XI7nbFXulYBIpL0ayR_gDh3eu1k
                    nextPageToken: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9
                    prevPageToken: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9
                    pageInfo:
                      totalResults: 42
                      resultsPerPage: 10
                    items:
                    - kind: youtube#video
                      etag: XI7nbFXulYBIpL0ayR_gDh3eu1k
                      id: abc123def456
                      localizations: example_value
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2:
        - https://www.googleapis.com/auth/youtube
      - apiKey: []
    post:
      operationId: youtube.videos.insert
      summary: Youtube Upload or Insert a Video
      description: Uploads a video to YouTube and optionally sets the video's metadata. This method supports media upload and requires the part parameter to specify the video resource properties to set.
      tags:
      - Videos
      parameters:
      - $ref: '#/components/parameters/part'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      requestBody:
        description: The video resource to insert.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Video'
            examples:
              YoutubeVideosInsertRequestExample:
                summary: Default youtube.videos.insert request
                x-microcks-default: true
                value:
                  kind: youtube#video
                  etag: XI7nbFXulYBIpL0ayR_gDh3eu1k
                  id: abc123def456
                  snippet:
                    publishedAt: '2026-01-15T10:30:00Z'
                    channelId: '500123'
                    title: Example Title
                    description: A sample description for this resource.
                    thumbnails: example_value
                    channelTitle: example_value
                    tags:
                    - example_value
                    categoryId: '500123'
                    liveBroadcastContent: live
                    defaultLanguage: en
                    localized:
                      title: Example Title
                      description: A sample description for this resource.
                  contentDetails:
                    duration: example_value
                    dimension: example_value
                    definition: hd
                    caption: 'false'
                    licensedContent: true
                    contentRating: example_value
                  status:
                    uploadStatus: deleted
                    privacyStatus: private
                    license: creativeCommon
                    embeddable: true
                    publicStatsViewable: true
                    madeForKids: channel==UC_x5XG1OV2P6uZZ5FSM9Ttw
                  statistics:
                    viewCount: 42
                    likeCount: 42
                    dislikeCount: 42
                    favoriteCount: 42
                    commentCount: 42
                  player:
                    embedHtml: example_value
                    embedHeight: 42.5
                    embedWidth: 42.5
                  localizations: example_value
      responses:
        '200':
          description: Successful response containing the inserted video resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Video'
              examples:
                YoutubeVideosInsert200Example:
                  summary: Default youtube.videos.insert 200 response
                  x-microcks-default: true
                  value:
                    kind: youtube#video
                    etag: XI7nbFXulYBIpL0ayR_gDh3eu1k
                    id: abc123def456
                    snippet:
                      publishedAt: '2026-01-15T10:30:00Z'
                      channelId: '500123'
                      title: Example Title
                      description: A sample description for this resource.
                      thumbnails: example_value
                      channelTitle: example_value
                      tags:
                      - example_value
                      categoryId: '500123'
                      liveBroadcastContent: live
                      defaultLanguage: en
                      localized:
                        title: Example Title
                        description: A sample description for this resource.
                    contentDetails:
                      duration: example_value
                      dimension: example_value
                      definition: hd
                      caption: 'false'
                      licensedContent: true
                      contentRating: example_value
                    status:
                      uploadStatus: deleted
                      privacyStatus: private
                      license: creativeCommon
                      embeddable: true
                      publicStatsViewable: true
                      madeForKids: channel==UC_x5XG1OV2P6uZZ5FSM9Ttw
                    statistics:
                      viewCount: 42
                      likeCount: 42
                      dislikeCount: 42
                      favoriteCount: 42
                      commentCount: 42
                    player:
                      embedHtml: example_value
                      embedHeight: 42.5
                      embedWidth: 42.5
                    localizations: example_value
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2:
        - https://www.googleapis.com/auth/youtube
      - apiKey: []
    put:
      operationId: youtube.videos.update
      summary: Youtube Update Video Metadata
      description: Updates a video's metadata. This method supports patch semantics and requires the part parameter to specify the video resource properties to update.
      tags:
      - Videos
      parameters:
      - $ref: '#/components/parameters/part'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      requestBody:
        description: The video resource with updated properties.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Video'
            examples:
              YoutubeVideosUpdateRequestExample:
                summary: Default youtube.videos.update request
                x-microcks-default: true
                value:
                  kind: youtube#video
                  etag: XI7nbFXulYBIpL0ayR_gDh3eu1k
                  id: abc123def456
                  snippet:
                    publishedAt: '2026-01-15T10:30:00Z'
                    channelId: '500123'
                    title: Example Title
                    description: A sample description for this resource.
                    thumbnails: example_value
                    channelTitle: example_value
                    tags:
                    - example_value
                    categoryId: '500123'
                    liveBroadcastContent: live
                    defaultLanguage: en
                    localized:
                      title: Example Title
                      description: A sample description for this resource.
                  contentDetails:
                    duration: example_value
                    dimension: example_value
                    definition: hd
                    caption: 'false'
                    licensedContent: true
                    contentRating: example_value
                  status:
                    uploadStatus: deleted
                    privacyStatus: private
                    license: creativeCommon
                    embeddable: true
                    publicStatsViewable: true
                    madeForKids: channel==UC_x5XG1OV2P6uZZ5FSM9Ttw
                  statistics:
                    viewCount: 42
                    likeCount: 42
                    dislikeCount: 42
                    favoriteCount: 42
                    commentCount: 42
                  player:
                    embedHtml: example_value
                    embedHeight: 42.5
                    embedWidth: 42.5
                  localizations: example_value
      responses:
        '200':
          description: Successful response containing the updated video resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Video'
              examples:
                YoutubeVideosUpdate200Example:
                  summary: Default youtube.videos.update 200 response
                  x-microcks-default: true
                  value:
                    kind: youtube#video
                    etag: XI7nbFXulYBIpL0ayR_gDh3eu1k
                    id: abc123def456
                    snippet:
                      publishedAt: '2026-01-15T10:30:00Z'
                      channelId: '500123'
                      title: Example Title
                      description: A sample description for this resource.
                      thumbnails: example_value
                      channelTitle: example_value
                      tags:
                      - example_value
                      categoryId: '500123'
                      liveBroadcastContent: live
                      defaultLanguage: en
                      localized:
                        title: Example Title
                        description: A sample description for this resource.
                    contentDetails:
                      duration: example_value
                      dimension: example_value
                      definition: hd
                      caption: 'false'
                      licensedContent: true
                      contentRating: example_value
                    status:
                      uploadStatus: deleted
                      privacyStatus: private
                      license: creativeCommon
                      embeddable: true
                      publicStatsViewable: true
                      madeForKids: channel==UC_x5XG1OV2P6uZZ5FSM9Ttw
                    statistics:
                      viewCount: 42
                      likeCount: 42
                      dislikeCount: 42
                      favoriteCount: 42
                      commentCount: 42
                    player:
                      embedHtml: example_value
                      embedHeight: 42.5
                      embedWidth: 42.5
                    localizations: example_value
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2:
        - https://www.googleapis.com/auth/youtube
      - apiKey: []
    delete:
      operationId: youtube.videos.delete
      summary: Youtube Delete a Video
      description: Deletes a YouTube video. The authenticated user must own the video or be authorized to delete it.
      tags:
      - Videos
      parameters:
      - name: id
        in: query
        required: true
        description: The ID of the video to delete.
        schema:
          type: string
        example: abc123def456
      - $ref: '#/components/parameters/key'
      responses:
        '204':
          description: The video was successfully deleted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2:
        - https://www.googleapis.com/auth/youtube
      - apiKey: []
    servers:
    - url: https://www.googleapis.com/youtube/v3
      description: YouTube Data API v3 base server
  /videos/rate:
    post:
      operationId: youtube.videos.rate
      summary: Youtube Rate a Video
      description: Adds a like or dislike rating to a video or removes a rating from a video. The authenticated user must be authorized to rate videos.
      tags:
      - Videos
      parameters:
      - name: id
        in: query
        required: true
        description: The ID of the video to rate.
        schema:
          type: string
        example: abc123def456
      - name: rating
        in: query
        required: true
        description: The rating to record. Valid values are like, dislike, and none.
        schema:
          type: string
          enum:
          - like
          - dislike
          - none
        example: like
      - $ref: '#/components/parameters/key'
      responses:
        '204':
          description: The rating was successfully applied or removed.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2:
        - https://www.googleapis.com/auth/youtube
      - apiKey: []
    servers:
    - url: https://www.googleapis.com/youtube/v3
      description: YouTube Data API v3 base server
  /videos/{videoId}:
    put:
      tags:
      - Videos
      operationId: updateVideo
      summary: Youtube Update Video Metadata
      description: 'Updates a video''s metadata. This operation requires OAuth 2.0 authentication.

        You can only update videos that belong to the authenticated user''s channel.

        '
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: "{\n  \"dispatcher\": \"FALLBACK\",\n  \"fallback\": \"SuccessfulVideoInsertExample\"\n}\n"
      parameters:
      - $ref: '#/components/parameters/VideoIdPath'
      - $ref: '#/components/parameters/Part'
      - $ref: '#/components/parameters/AccessToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VideoUpdateRequest'
            examples:
              VideoUpdateRequestExample:
                $ref: '#/components/examples/VideoUpdateRequestExample'
      responses:
        '200':
          description: Successfully updated video
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Video_2'
              examples:
                SuccessfulVideoInsertExample:
                  $ref: '#/components/examples/SuccessfulVideoInsertExample'
        '404':
          description: Video not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
              examples:
                NotFoundErrorExample:
                  $ref: '#/components/examples/NotFoundErrorExample'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/youtube.readonly
      - ApiKey: []
    delete:
      tags:
      - Videos
      operationId: deleteVideo
      summary: Youtube Delete Video
      description: 'Deletes a video. This operation requires OAuth 2.0 authentication.

        You can only delete videos that belong to the authenticated user''s channel.

        '
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: "{\n  \"dispatcher\": \"FALLBACK\",\n  \"fallback\": \"SuccessfulDeleteExample\"\n}\n"
      parameters:
      - $ref: '#/components/parameters/VideoIdPath'
      - $ref: '#/components/parameters/AccessToken'
      responses:
        '204':
          description: Successfully deleted video
        '404':
          description: Video not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
              examples:
                NotFoundErrorExample:
                  $ref: '#/components/examples/NotFoundErrorExample'
      security:
      - OAuth2:
        - https://www.googleapis.com/auth/youtube.readonly
      - ApiKey: []
    servers:
    - url: https://www.googleapis.com/youtube/v3
      description: YouTube Data API Production Server
components:
  responses:
    BadRequest:
      description: The request was invalid or malformed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The specified resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: The request was authenticated but the caller does not have permission to perform the requested operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: The request was not authenticated or the credentials are invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    VideoPlayer:
      type: object
      description: Information used to play the video.
      properties:
        embedHtml:
          type: string
          description: An iframe tag that embeds a player that will play the video.
          example: example_value
        embedHeight:
          type: number
          description: The height of the embedded player returned in the player.embedHtml property.
          example: 42.5
        embedWidth:
          type: number
          description: The width of the embedded player returned in the player.embedHtml property.
          example: 42.5
    ErrorResponse:
      type: object
      description: A standard error response returned by the YouTube Data API.
      properties:
        error:
          type: object
          description: The error details.
          properties:
            code:
              type: integer
              description: The HTTP status code of the error.
            message:
              type: string
              description: A human-readable description of the error.
            errors:
              type: array
              description: A list of individual errors.
              items:
                type: object
                properties:
                  message:
                    type: string
                    description: A human-readable description of the error.
                  domain:
                    type: string
                    description: The domain in which the error occurred.
                  reason:
                    type: string
                    description: The reason for the error.
          example: example_value
    PageInfo:
      type: object
      description: Paging details for a list operation, including information about the total number of resources and the number per page.
      properties:
        totalResults:
          type: integer
          description: The total number of results in the result set.
          example: 42
        resultsPerPage:
          type: integer
          description: The number of results included in the API response.
          example: 10
    Video:
      type: object
      description: A video resource represents a YouTube video.
      required:
      - kind
      - etag
      properties:
        kind:
          type: string
          description: Identifies the API resource's type. Value is youtube#video.
          default: youtube#video
          example: youtube#video
        etag:
          type: string
          description: The Etag of this resource.
          example: XI7nbFXulYBIpL0ayR_gDh3eu1k
        id:
          type: string
          description: The ID that YouTube uses to uniquely identify the video.
          example: abc123def456
        snippet:
          $ref: '#/components/schemas/VideoSnippet'
        contentDetails:
          $ref: '#/components/schemas/VideoContentDetails'
        status:
          $ref: '#/components/schemas/VideoStatus'
        statistics:
          $ref: '#/components/schemas/VideoStatistics'
        player:
          $ref: '#/components/schemas/VideoPlayer'
        localizations:
          type: object
          description: The localizations object contains translations of the video's metadata.
          additionalProperties:
            type: object
            properties:
              title:
                type: string
                description: The localized video title.
              description:
                type: string
                description: The localized video description.
          example: example_value
    VideoListResponse:
      type: object
      description: A list of video resources matching the request criteria.
      properties:
        kind:
          type: string
          description: Identifies the API resource's type. Value is youtube#videoListResponse.
          default: youtube#videoListResponse
          example: youtube#video
        etag:
          type: string
          description: The Etag of this resource.
          example: XI7nbFXulYBIpL0ayR_gDh3eu1k
        nextPageToken:
          type: string
          description: The token that can be used as the pageToken parameter to retrieve the next page of results in the result set.
          example: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9
        prevPageToken:
          type: string
          description: The token that can be used as the pageToken parameter to retrieve the previous page of results in the result set.
          example: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9
        pageInfo:
          $ref: '#/components/schemas/PageInfo'
        items:
          type: array
          description: A list of videos that match the request criteria.
          items:
            $ref: '#/components/schemas/Video'
          example: []
    VideoSnippet:
      type: object
      description: Basic details about a video, including its title, description, tags, and category.
      properties:
        publishedAt:
          type: string
          format: date-time
          description: The date and time when the video was published.
          example: '2026-01-15T10:30:00Z'
        channelId:
          type: string
          description: The ID of the YouTube channel that published the video.
          example: '500123'
        title:
          type: string
          description: The video title.
          example: Example Title
        description:
          type: string
          description: The video description.
          example: A sample description for this resource.
        thumbnails:
          type: object
          description: A map of thumbnail images associated with the video.
          additionalProperties:
            type: object
            properties:
              url:
                type: string
                description: The URL of the thumbnail image.
              width:
                type: integer
                description: The thumbnail width in pixels.
              height:
                type: integer
                description: The thumbnail height in pixels.
          example: example_value
        channelTitle:
          type: string
          description: The channel title of the YouTube channel that published the video.
          example: example_value
        tags:
          type: array
          description: A list of keyword tags associated with the video.
          items:
            type: string
          example: []
        categoryId:
          type: string
          description: The YouTube video category associated with the video.
          example: '500123'
        liveBroadcastContent:
          type: string
          description: Indicates if the video is an upcoming/active live broadcast.
          enum:
          - live
          - none
          - upcoming
          example: live
        defaultLanguage:
          type: string
          description: The language of the text in the video resource's snippet.title and snippet.description properties.
          example: en
        localized:
          type: object
          description: The snippet.localized object contains either a localized title and description for the video or the title in the default language.
          properties:
            title:
              type: string
              description: The localized video title.
            description:
              type: string
              description: The localized video description.
          example: example_value
    VideoContentDetails:
      type: object
      description: Information about the video content, including the length of the video and an indication of whether captions are available.
      properties:
        duration:
          type: string
          description: The length of the video in ISO 8601 format.
          example: example_value
        dimension:
          type: string
          description: Indicates whether the video is available in 3D or in 2D.
          example: example_value
        definition:
          type: string
          description: Indicates whether the video is available in high definition or standard definition.
          enum:
          - hd
          - sd
          example: hd
        caption:
          type: string
          description: Indicates whether captions are available for the video.
          enum:
          - 'false'
          - 'true'
          example: 'false'
        licensedContent:
          type: boolean
          description: Indicates whether the video represents licensed content, which means that the content has been claimed by a YouTube content partner.
          example: true
        contentRating:
          type: object
          description: Specifies the ratings that the video received under various rating schemes.
          example: example_value
    VideoStatus:
      type: object
      description: The status of an uploaded video.
      properties:
        uploadStatus:
          type: string
          description: The status of the uploaded video.
          enum:
          - deleted
          - failed
          - processed
          - rejected
          - uploaded
          example: deleted
        privacyStatus:
          type: string
          description: The video's privacy status.
          enum:
          - private
          - public
          - unlisted
          example: private
        license:
          type: string
          description: The video's license.
          enum:
          - creativeCommon
          - youtube
          example: creativeCommon
        embeddable:
          type: boolean
          description: Indicates whether the video can be embedded on another website.
          example: true
        publicStatsViewable:
          type: boolean
          description: Indicates whether the video's extended statistics on the video's watch page are publicly viewable.
          example: true
        madeForKids:
          type: boolean
          description: Indicates whether the video is designated as child-directed.
          example: channel==UC_x5XG1OV2P6uZZ5FSM9Ttw
    VideoStatistics:
      type: object
      description: Statistics about the video such as the number of times the video has been viewed or liked.
      properties:
        viewCount:
          type: string
          description: The number of times the video has been viewed.
          example: 42
        likeCount:
          type: string
          description: The number of users who have indicated that they liked the video.
          example: 42
        dislikeCount:
          type: string
          description: The number of users who have indicated that they disliked the video.
          example: 42
        favoriteCount:
          type: string
          description: The number of users who have added the video to their favorites list.
          example: 42
        commentCount:
          type: string
          description: The number of comments for the video.
          example: 42
    ErrorResponse_2:
      type: object
      description: Error response object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetails'
    ThumbnailDetails:
      type: object
      description: Thumbnail images at various resolutions
      properties:
        default:
          $ref: '#/components/schemas/Thumbnail'
        medium:
          $ref: '#/components/schemas/Thumbnail'
        high:
          $ref: '#/components/schemas/Thumbnail'
        standard:
          $ref: '#/components/schemas/Thumbnail'
        maxres:
          $ref: '#/components/schemas/Thumbnail'
    VideoListResponse_2:
      type: object
      description: Response containing video resources
      required:
      - kind
      - etag
      - items
      properties:
        kind:
          type: string
          description: Identifies the API resource type
          example: youtube#videoListResponse
        etag:
          type: string
          description: ETag for caching purposes
        nextPageToken:
          type: string
          description: Token for the next page of results
        prevPageToken:
          type: string
          description: Token for the previous page of results
        pageInfo:
          $ref: '#/components/schemas/PageInfo_2'
        items:
          type: array
          description: List of videos
          items:
            $ref: '#/components/schemas/Video_2'
    Thumbnail:
      type: object
      description: A thumbnail image
      properties:
        url:
          type: string
          description: URL of the thumbnail image
          example: https://i.ytimg.com/vi/dQw4w9WgXcQ/default.jpg
        width:
          type: integer
          description: Width of the thumbnail
          example: 120
        height:
          type: integer
          description: Height of the thumbnail
          example: 90
    VideoInsertRequest:
      type: object
      description: Request body for uploading a video
      required:
      - snippet
      - status
      properties:
        snippet:
          type: object
          required:
          - title
          - categoryId
          properties:
            title:
              type: string
              description: Title for the video
              example: My New Video
            description:
              type: string
              description: Description for the video
              example: This is my new video about...
            tags:
              type: array
              items:
                type: string
              example:
              - tutorial
              - demo
            categoryId:
              type: string
              description: YouTube video category ID
              example: '28'
            defaultLanguage:
              type: string
              description: Default language of the video
              example: en
        status:
          type: object
          properties:
            privacyStatus:
              type: string
              enum:
              - private
              - public
              - unlisted
              example: public
            embeddable:
              type: boolean
              example: true
            license:
              type: string
              enum:
              - creativeCommon
              - youtube
              example: youtube
    VideoSnippet_2:
      type: object
      description: Basic information about the video
      properties:
        publishedAt:
          type: string
          format: date-time
          description: When the video was published
          example: '2024-03-15T10:30:00Z'
        channelId:
          type: string
          description: ID of the channel that owns the video
          example: UC_x5XG1OV2P6uZZ5FSM9Ttw
        title:
          type: string
          description: Title of the video
          example: 'OpenAPI Tutorial: Building REST APIs'
        description:
          type: string
          description: Description of the video
          example: Learn how to build REST APIs using OpenAPI specification...
        thumbnails:
          $ref: '#/components/schemas/ThumbnailDetails'
        channelTitle:
          type: string
          description: Title of the channel
          example: Google Developers
        tags:
          type: array
          description: List of keyword tags for the video
          items:
            type: string
          example:
          - openapi
          - rest api
          - tutorial
        categoryId:
          type: string
          description: YouTube video category ID
          example: '28'
        defaultLanguage:
          type: string
          description: Default language of the video
          example: en
    VideoStatus_2:
      type: object
      description: Status information for the video
      properties:
        uploadStatus:
          type: string
          description: Upload status of the video
          enum:
          - deleted
          - failed
          - processed
          - rejected
          - uploaded
          example: processed
        privacyStatus:
          type: string
          description: Privacy status of the video
          enum:
          - private
          - public
          - unlisted
          example: public
        license:
          type: string
          description: License of the video
          enum:
          - creativeCommon
          - youtube
          example: youtube
        embeddable:
          type: boolean
          description: Whether the video can be embedded
          example: true
        publicStatsViewable:
          type: boolean
          description: Whether statistics are publicly viewable
          example: true
    ErrorDetails:
      type: object
      description: Details about an API error
      required:
      - code
      - message
      properties:
        code:
          type: integer
          description: HTTP status code
          example: 400
        message:
          type: string
          description: Human-readable error message
          example: Invalid parameter value
        errors:
          type: array
          description: List of specific errors
          items:
            $ref: '#/components/schemas/ErrorItem'
    Video_2:
      type: object
      description: A YouTube video resource
      required:
      - kind
      - etag
      - id
      properties:
        kind:
          type: string
          description: Identifies the API resource type
          example: youtube#video
        etag:
          type: string
          description: ETag for caching purposes
        id:
          type: string
          description: Unique identifier for the video
          example: dQw4w9WgXcQ
        snippet:
          $ref: '#/components/schemas/VideoSnippet_2'
        contentDetails:
          $ref: '#/components/schemas/VideoContentDetails_2'
        statistics:
          $ref: '#/components/schemas/VideoStatistics_2'
        status:
          $ref: '#/components/schemas/VideoStatus_2'
    VideoUpdateRequest:
      type: object
      description: Request body for updating a video
      required:
      - id
      - snippet
      properties:
        id:
          type: string
          description: ID of the video to update
          example: dQw4w9WgXcQ
        snippet:
          type: object
          required:
          - title
          - categoryId
          properties:
            title:
              type: string
              description: Updated title
              example: Updated Video Title
            description:
              type: string
              description: Updated description
              example: Updated description...
            tags:
              type: array
              items:
                type: string
            categoryId:
              type: string
              example: '28'
    VideoStatistics_2:
      type: object
      description: Statistics for the video
      properties:
        viewCount:
          type: string
          description: Number of views
          example: '1500000'
        likeCount:
          type: string
          description: Number of likes
          example: '45000'
        dislikeCount:
          type: string
          description: Number of dislikes (deprecated)
          example: '500'
        favoriteCount:
          type: string
          description: Number of favorites
          example: '0'
        commentCount:
          type: string
          description: Number of comments
          example: '2500'
    PageInfo_2:
      type: object
      description: Pagination information
      properties:
        totalResults:
          type: integer
          description: Total number of results
          example: 1000000
        resultsPerPage:
          type: integer
          description: Number of results per page
          example: 25
    ErrorItem:
      type: object
      description: Individual error detail
      properties:
        domain:
          type: string
          description: Error domain
          example: youtube.parameter
        reason:
          type: string
          description: Error reason code
          example: invalidParameter
        message:
          type: string
          description: Detailed error message
          example: The parameter 'part' is required
        locationType:
          type: string
          description: Type of location where error occurred
          example: parameter
        location:
          type: string
          description: Specific location of the error
          example: part
    VideoContentDetails_2:
      type: object
      description: Content details for the video
      properties:
        duration:
          type: string
          description: Duration of the video in ISO 8601 format
          example: PT15M33S
        dimension:
          type: string
          description: Whether the video is 2D or 3D
          enum:
          - 2d
          - 3d
          example: 2d
        definition:
          type: string
          description: Whether the video is SD or HD
          enum:
          - hd
          - sd
          example: hd
        caption:
          type: string
          description: Whether captions are available
          enum:
          - 'true'
          - 'false'
          example: 'true'
        licensedContent:
          type: boolean
          description: Whether the video is licensed content
          example: true
  parameters:
    maxResults:
      name: maxResults
      in: query
      description: The maximum number of items that should be returned in the result set. Acceptable values are 0 to 50, inclusive.
      schema:
        type: integer
        minimum: 0
        maximum: 50
        default: 5
    pageToken:
      name: pageToken
      in: query
      description: Identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages available.
      schema:
        type: string
    fields:
      name: fields
      in: query
      description: Selector specifying which fields to include in a partial response. Use this parameter to reduce bandwidth usage by selecting only the fields you need.
      schema:
        type: string
    key:
      name: key
      in: query
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      schema:
        type: string
    part:
      name: part
      in: query
      required: true
      description: Specifies a comma-separated list of one or more resource properties that the API response will include. The part parameter value must include the id property.
      schema:
        type: string
    Chart:
      name: chart
      in: query
      required: false
      description: Identifies the chart to retrieve
      schema:
        type: string
        enum:
        - mostPopular
        example: mostPopular
    Part:
      name: part
      in: query
      required: true
      description: 'The part parameter specifies a comma-separated list of one or more

        resource properties that the API response will include.

        '
      schema:
        type: string
        example: snippet,contentDetails,statistics
    ApiKey:
      name: key
      in: query
      required: false
      description: API key for authentication (for read-only operations)
      schema:
        type: string
    PageToken:
      name: pageToken
      in: query
      required: false
      description: Token for retrieving the next page of results
      schema:
        type: string
    MaxResultsDefault:
      name: maxResults
      in: query
      required: false
      description: Maximum number of items to return (1-50)
      schema:
        type: integer
        minimum: 1
        maximum: 50
        default: 5
        example: 25
    NotifySubscribers:
      name: notifySubscribers
      in: query
      required: false
      description: Whether subscribers should be notified about the video upload
      schema:
        type: boolean
        default: true
        example: true
    VideoIdPath:
      name: videoId
      in: path
      required: true
      description: The unique identifier of the video
      schema:
        type: string
        example: dQw4w9WgXcQ
    RegionCode:
      name: regionCode
      in: query
      required: false
      description: ISO 3166-1 alpha-2 country code for regional filtering
      schema:
        type: string
        pattern: ^[A-Z]{2}$
        example: US
    AccessToken:
      name: access_token
      in: query
      required: false
      description: OAuth 2.0 access token for authentication
      schema:
        type: string
    VideoId:
      name: id
      in: query
      required: false
      description: A comma-separated list of video IDs to retrieve
      schema:
        type: string
        example: dQw4w9WgXcQ,abc123XYZ789
    VideoCategoryId:
      name: videoCategoryId
      in: query
      required: false
      description: Filter chart results by video category
      schema:
        type: string
        example: '10'
  examples:
    BadRequestErrorExample:
      summary: Bad request error
      description: Example error response for invalid parameters
      value:
        error:
          code: 400
          message: Invalid parameter value
          errors:
          - domain: youtube.parameter
            reason: invalidParameter
            message: The parameter 'part' is required
            locationType: parameter
            location: part
    SuccessfulVideoInsertExample:
      summary: Successfully uploaded video
      description: Example response for a newly uploaded video
      value:
        kind: youtube#video
        etag: newvideo123
        id: NEWvideo456
        snippet:
          publishedAt: '2024-03-20T14:00:00Z'
          channelId: UC_x5XG1OV2P6uZZ5FSM9Ttw
          title: My New Video
          description: This is my new video about...
          thumbnails:
            default:
              url: https://i.ytimg.com/vi/NEWvideo456/default.jpg
              width: 120
              height: 90
          channelTitle: My Channel
          tags:
          - tutorial
          - demo
          categoryId: '28'
        status:
          uploadStatus: processed
          privacyStatus: public
          embeddable: true
    VideoUpdateRequestExample:
      summary: Video update request
      description: Example request body for updating video metadata
      value:
        id: dQw4w9WgXcQ
        snippet:
          title: Updated Video Title
          description: Updated description...
          tags:
          - updated
          - tags
          categoryId: '28'
    SuccessfulVideoListExample:
      summary: Successful video list response
      description: Example response for retrieving video details
      value:
        kind: youtube#videoListResponse
        etag: abc123xyz789
        pageInfo:
          totalResults: 1
          resultsPerPage: 1
        items:
        - kind: youtube#video
          etag: video123etag
          id: dQw4w9WgXcQ
          snippet:
            publishedAt: '2024-03-15T10:30:00Z'
            channelId: UC_x5XG1OV2P6uZZ5FSM9Ttw
            title: 'OpenAPI Tutorial: Building REST APIs'
            description: Learn how to build REST APIs...
            thumbnails:
              default:
                url: https://i.ytimg.com/vi/dQw4w9WgXcQ/default.jpg
                width: 120
                height: 90
            channelTitle: Google Developers
            tags:
            - openapi
            - rest api
            categoryId: '28'
          contentDetails:
            duration: PT15M33S
            dimension: 2d
            definition: hd
            caption: 'true'
            licensedContent: true
          statistics:
            viewCount: '1500000'
            likeCount: '45000'
            commentCount: '2500'
          status:
            uploadStatus: processed
            privacyStatus: public
            license: youtube
            embeddable: true
    NotFoundErrorExample:
      summary: Not found error
      description: Example error response when resource is not found
      value:
        error:
          code: 404
          message: Resource not found
          errors:
          - domain: youtube.video
            reason: videoNotFound
            message: The video identified by the parameter id could not be found
            locationType: parameter
            location: id
    VideoInsertRequestExample:
      summary: Video upload request
      description: Example request body for uploading a video
      value:
        snippet:
          title: My New Video
          description: This is my new video about...
          tags:
          - tutorial
          - demo
          categoryId: '28'
          defaultLanguage: en
        status:
          privacyStatus: public
          embeddable: true
          license: youtube
    UnauthorizedErrorExample:
      summary: Unauthorized error
      description: Example error response for authentication failure
      value:
        error:
          code: 401
          message: Invalid credentials
          errors:
          - domain: youtube.authentication
            reason: authError
            message: The access token is invalid or expired
            locationType: header
            location: Authorization
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/youtube: Manage your YouTube account
            https://www.googleapis.com/auth/youtube.readonly: View your YouTube account
            https://www.googleapis.com/auth/youtube.upload: Manage your YouTube videos
            https://www.googleapis.com/auth/youtube.force-ssl: See, edit, and permanently delete your YouTube videos, ratings, comments and captions
            https://www.googleapis.com/auth/youtubepartner: View and manage your assets and associated content on YouTube
    apiKey:
      type: apiKey
      in: query
      name: key
    OAuth2:
      type: oauth2
      description: OAuth 2.0 authentication for YouTube Data API
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/youtube: Manage your YouTube account
            https://www.googleapis.com/auth/youtube.readonly: View your YouTube account
            https://www.googleapis.com/auth/youtube.upload: Upload videos to YouTube
            https://www.googleapis.com/auth/youtube.force-ssl: Manage your YouTube videos
    ApiKey:
      type: apiKey
      description: API key for read-only operations
      name: key
      in: query
externalDocs:
  description: YouTube Data API Documentation
  url: https://developers.google.com/youtube/v3
x-refined-from:
- youtube-data-api-openapi.yml
- youtube-data-openapi-original.yml
