openapi: 3.1.0
info:
  title: YouTube Analytics Analytics Groups ReportTypes API
  description: 'The YouTube Analytics API enables you to retrieve YouTube Analytics data for channels and content owners.

    Use this API to generate custom analytics reports, track video performance metrics, monitor audience engagement,

    and gain insights into viewer demographics and behavior patterns.


    ## Key Features

    - Retrieve channel and video performance metrics

    - Access audience demographics and geographic data

    - Monitor engagement metrics like likes, comments, and shares

    - Track revenue and ad performance data (for monetized content)

    - Generate custom date-range reports


    ## Authentication

    All API requests require OAuth 2.0 authentication with appropriate scopes.

    '
  version: 2.0.0
  contact:
    name: Google Developers
    url: https://developers.google.com/youtube/analytics
    email: youtube-api-support@google.com
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
    identifier: CC-BY-3.0
  termsOfService: https://developers.google.com/terms/
  x-logo:
    url: https://www.youtube.com/img/desktop/yt_1200.png
servers:
- url: https://youtubeanalytics.googleapis.com/v2
  description: YouTube Analytics API Production Server
security:
- OAuth2:
  - https://www.googleapis.com/auth/yt-analytics.readonly
tags:
- name: ReportTypes
  description: Operations for listing available report types
paths:
  /reportTypes:
    get:
      operationId: youtubeReporting.reportTypes.list
      summary: Youtube List Report Types
      description: Lists report types that the channel or content owner can retrieve. Each report type defines the dimensions and metrics available in the generated reports.
      tags:
      - ReportTypes
      parameters:
      - name: onBehalfOfContentOwner
        in: query
        description: The content owner's external ID on which behalf the user is acting on.
        schema:
          type: string
        example: example_value
      - name: includeSystemManaged
        in: query
        description: If set to true, also returns system-managed report types.
        schema:
          type: boolean
        example: true
      - name: pageToken
        in: query
        description: A token identifying a page of results to return.
        schema:
          type: string
        example: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9
      - name: pageSize
        in: query
        description: The maximum number of items to return in the response.
        schema:
          type: integer
        example: 25
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListReportTypesResponse'
              examples:
                YoutubereportingReporttypesList200Example:
                  summary: Default youtubeReporting.reportTypes.list 200 response
                  x-microcks-default: true
                  value:
                    reportTypes:
                    - id: abc123def456
                      name: Example Title
                      systemManaged: true
                      deprecateTime: '2026-01-15T10:30:00Z'
                    nextPageToken: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ReportType:
      type: object
      properties:
        id:
          type: string
          description: The ID of the report type.
          example: abc123def456
        name:
          type: string
          description: The name of the report type.
          example: Example Title
        systemManaged:
          type: boolean
          description: Whether the report type is system-managed.
          example: true
        deprecateTime:
          type: string
          format: date-time
          description: The date and time when the report type was deprecated.
          example: '2026-01-15T10:30:00Z'
    ListReportTypesResponse:
      type: object
      properties:
        reportTypes:
          type: array
          items:
            $ref: '#/components/schemas/ReportType'
          description: The list of report types.
          example: []
        nextPageToken:
          type: string
          description: A token to retrieve the next page of results.
          example: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 authentication for YouTube Analytics API
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/youtube: Manage your YouTube account
            https://www.googleapis.com/auth/youtube.readonly: View your YouTube account
            https://www.googleapis.com/auth/yt-analytics.readonly: View YouTube Analytics reports
            https://www.googleapis.com/auth/yt-analytics-monetary.readonly: View YouTube Analytics monetary reports
externalDocs:
  description: YouTube Analytics API Documentation
  url: https://developers.google.com/youtube/analytics
